@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "nullStyle";

.main_main {
  width: 75vw;
  margin: 0 auto;
}

.main_name {
  font-family: BalsamiqSans-Regular;
  font-size: 25px;
  margin-top: 40px;
}

.main_paragraph {
  margin-top: 50px;
  margin-bottom: 50px; 

  text-align: center;
  font-family: RobotoSlab-Regular;
}

.mem {
  width: 40%;
  height: 40%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

header {
  font-family: RobotoSlab-Bold;
  padding: 15px;
  .one_line_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    img {
      width: 1rem;
    }
    a {
      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size 0.3s;

      color: #2b2b2b;
      padding: 10px;
    }

    a:hover {
      background-size: 100% 2px;
    }
  }
}

.main_name {
  text-align: center
}

.about_us {
  font-family: BalsamiqSans-Regular;
  
  .main_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ol {
      margin-left: 50px;
    }
  }

  h2 {
    text-align: center;
    font-family: BalsamiqSans-Bold;
    font-size: 25px;
  }

  .img_about {
    width: 30vw;
  }

  .about_text {
    font-family: BalsamiqSans-Regular;
    font-size: 10px;
  }
  padding-top: 20px;
  background-color: #f6f6f6;
}

.main_news {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  div {
    width: 20%;
    text-align: center;
    font-family: RobotoSlab-Regular;
    img {
      transition: 1s;
    }
    img:hover {
      transform: scale(1.2);
    }
    p {
      padding-top: 30px;
      color: red;
      transition: 1s; 
    }
  }
  .news_img {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .one_line_div {
    flex-direction: column;
    height: 100%;
  }
  .navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .main_news {
    flex-direction: column;
    align-items: center;
    div {
      width: 100%;
      padding: 40px;
    }
  }
  .main_main {
      display: flex;
      flex-direction: column;
      ol {
        padding: 40px;
        width: 100%;
      }
  }
}