@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "nullStyle";

.main {
  width: 75vw;
  margin: 0 auto;
}

.main_name {
  font-family: BalsamiqSans-Regular;
  font-size: 25px;
  margin-top: 40px;
}

.main_paragraph {
  margin-top: 50px;
  margin-bottom: 50px; 

  text-align: center;
  font-family: RobotoSlab-Regular;
}

.mem {
  width: 40%;
  height: 40%;
  display: block;
  margin: 0 auto;
}

header {
  font-family: RobotoSlab-Bold;
  padding: 15px;
  .one_line_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    img {
      width: 1rem;
    }
    a {
      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size 0.3s;

      color: #2b2b2b;
      padding: 10px;
    }

    a:hover {
      background-size: 100% 2px;
    }
  }
}

.main_name {
  text-align: center
}

@media (max-width: 500px) {
  .one_line_div {
    flex-direction: column;
    height: 100%;
  }
  .navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .logo {
    text-align: center;
  }
}
